[user]
	name = James Florencio
	email = caracallarex@gmail.com
[push]
	default = simple
[core]
	editor = vim
[init]
	defaultBranch = main
[submodule]
  recurse = true
[url "ssh://git@github.com/"]
  insteadOf = https://github.com/
